<!-- intento 1
<!DOCTYPE html>
<html>
<head>
    <title>Crear Reporte</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <h1>Denuncia aquí</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
</body>
</html>

-->

<!DOCTYPE html>
<html>
<head>
  <title>Crear Reporte</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
</head>
<body>

  <div class="container">
    <h1>Denuncia aquí</h1>

      <div class="col-md-6 pt-4">
        <form method="post">
          {% csrf_token %}
          <div class="card-body">
            <p>
              <label for="{{ form.title.id }}">{{ form.title.label }}</label>
              {{ form.title }}
              <p>
      
              <label for="{{ form.description.id }}">{{ form.description.label }}</label>
              <p>
      
              {{ form.description }}
              <p>
              <label for="{{ form.location.id }}">{{ form.location.label }}</label>
              {{ form.location }}
              <button type="submit">Enviar</button>
          </div>
        </form>          
      </div>
    </div>
  </div>

</body>
</html>
