{% extends "./baseadmin.html" %}
{% if request.user.is_staff %}

{% block content %}
<style>

</style>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Denuncias</h1>
    <div class="text-end pb-1">
      <a href="{% url 'registro_denuncia' %}" class="btn btn-outline-success" style="font-size: 1.3rem;">
        <i class='bx bx-add-to-queue'>
          <span>Agregar Denuncia</span>
        </i>
      </a>
    </div>
  </div>  
  <hr style="border: 3px solid black; border-radius: 5px;">
  <form action="" method="GET" class="filter-form" style="display: flex; align-items: center; gap: 10px;">
    <div class="form-group">
        <label for="causa">Categoria</label>
        <select class="form-control" id="causa" name="causa">
            <option value="">-- Seleccionar Causa --</option>
            {% for id, name in categorias %}
            <option value="{{ id }}" {% if request.GET.causa == id|stringformat:"s" %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="fecha_suceso">Fecha de Suceso</label>
        <input type="date" class="form-control" id="fecha_suceso" name="fecha_suceso" value="{{ request.GET.fecha_suceso }}">
    </div>
    <div class="form-group">
        <label for="hora_suceso">Hora de Suceso</label>
        <input type="time" class="form-control" id="hora_suceso" name="hora_suceso" value="{{ request.GET.hora_suceso }}">
    </div>
    <div class="form-group">
        <label for="fecha_envio">Fecha de Envio</label>
        <input type="date" class="form-control" id="fecha_envio" name="fecha_envio" value="{{ request.GET.fecha_envio }}">
    </div>
    <div class="form-group">
        <label for="estado">Estado</label>
        <select class="form-control" id="estado" name="estado">
            <option value="">-- Seleccionar Estado --</option>
            {% for id, name in estados %}
            <option value="{{ id }}" {% if request.GET.estado == id|stringformat:"s" %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group" style="display: flex; align-items: center; gap: 10px;">
        <div>
            <label for="query">Buscar</label>
            <input type="text" class="form-control" id="query" name="query" placeholder="Palabra clave" value="{{ request.GET.query }}">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 24px;">Buscar</button>
    </div>
</form>

  <div class=" px-5">
  <table class="mt-5 table table-hover table-responsive">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Username</th>
        <th>Imagen </th>
        <th>Causa</th>
        <th>Estado</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for denuncia in entity %}
        <tr class="overflow-wrap">
          <td>{{denuncia.id}}</td>
          <td>{{denuncia.titulo}}</td>
          <td>{{denuncia.username}}</td>
          <td><img src="{{denuncia.imagen.url}}" alt="" style="max-width: 64px; max-height:64px;"></td>
          <td class="overflow">{{denuncia.asunto}}</td>
          <td>{{ denuncia.get_estado_display }}</td>
          <td>
            <div class="table-cell">
              <div class="btn-group px-4">
                  <button type="button" class="btn btn-primary button-edit btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-edit{{ denuncia.id }}" name="editar">
                    <i class='bx bx-edit-alt' ></i>
                </button>
                <button type="button" class="btn text-white" style="background-color:black;" data-bs-toggle="modal" data-bs-target="#modal-ver{{ denuncia.id }}" name="ver">
                  <i class='bx bxs-show' ></i>
                </button>
                <button type="button" class="btn text-white" style="background-color:purple;" data-bs-toggle="modal" data-bs-target="#modal-eliminar{{ denuncia.id }}">
                  <i class='bx bx-trash' ></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
      
      <!-- Modal Editar -->
      <div class="modal fade" id="modal-edit{{ denuncia.id }}" tabindex="-1" aria-labelledby="modalLabel{{ denuncia.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel{{ denuncia.id }}">Editar Denuncia: {{ denuncia.titulo }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ denuncia.id }}">
                        <div class="form-group">
                            <label for="titulo-{{ denuncia.id }}" class="col-form-label">Título:</label>
                            <input type="text" class="form-control" id="titulo-{{ denuncia.id }}" name="titulo" value="{{ denuncia.titulo }}">
                        </div>
                        <div class="form-group">
                            <label for="Denunciante-{{ denuncia.username }}" class="col-form-label">Denunciante:</label>
                            <input type="text" class="form-control" id="denunciante-{{ denuncia.id }}" name="denunciante" value="{{ denuncia.username }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="asunto-{{ denuncia.id }}" class="col-form-label">Asunto:</label>
                            <textarea class="form-control" id="asunto-{{ denuncia.id }}" name="asunto">{{ denuncia.asunto }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="causa-{{ denuncia.id }}" class="col-form-label">Causa:</label>
                            <select id="causa-{{ denuncia.id }}" name="causa" class="form-select">
                                <option value="0" {% if denuncia.causa == 0 %}selected{% endif %}>Lugar de explotación</option>
                                <option value="1" {% if denuncia.causa == 1 %}selected{% endif %}>Uso y/o contaminación de recursos naturales</option>
                                <option value="2" {% if denuncia.causa == 2 %}selected{% endif %}>Residuos, emisiones e inmisiones</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="estado-{{ denuncia.id }}" class="col-form-label">Estado:</label>
                            <select id="estado-{{ denuncia.id }}" name="Select" class="form-select">
                                <option value="0" {% if denuncia.estado == 0 %}selected{% endif %}>En revisión</option>
                                <option value="1" {% if denuncia.estado == 1 %}selected{% endif %}>En procedimiento</option>
                                <option value="2" {% if denuncia.estado == 2 %}selected{% endif %}>Finalizada</option>
                                <option value="3" {% if denuncia.estado == 3 %}selected{% endif %}>Rechazada</option>
                                <option value="4" {% if denuncia.estado == 4 %}selected{% endif %}>Deshabilitada</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fecha_suceso-{{ denuncia.id }}" class="col-form-label">Fecha del suceso:</label>
                            <input type="date" class="form-control" id="fecha_suceso-{{ denuncia.id }}" name="fecha_suceso" value="{{ denuncia.fecha_suceso|date:'Y-m-d' }}">
                        </div>
                        <div class="form-group">
                            <label for="hora_suceso-{{ denuncia.id }}" class="col-form-label">Hora del suceso:</label>
                            <input type="time" class="form-control" id="hora_suceso-{{ denuncia.id }}" name="hora_suceso" value="{{ denuncia.hora_suceso|time:'H:i' }}">
                        </div>
                        <div class="form-group">
                            <label for="consentimiento-{{ denuncia.id }}" class="col-form-label">Consentimiento:</label>
                            <input type="checkbox" id="consentimiento-{{ denuncia.id }}" name="consentimiento" {% if denuncia.consentimiento %}checked{% endif %}>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label"> Imagen de contexto: </label>
                            <br>
                            <img src="{{denuncia.imagen.url}}" alt="" style="max-width: 20%;">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-warning" type="submit" name="editar">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>

      <!-- Modal Ver (es editar pero Deshabilitado) -->
      <div class="modal fade" id="modal-ver{{ denuncia.id }}" tabindex="-1" aria-labelledby="modalLabel{{ denuncia.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel{{ denuncia.id }}">Ver {{ denuncia.titulo }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ denuncia.id }}">
                        <div class="form-group">
                            <label for="titulo-{{ denuncia.id }}" class="col-form-label">Título:</label>
                            <input type="text" class="form-control" id="titulo-{{ denuncia.id }}" name="titulo" value="{{ denuncia.titulo }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="Denunciante-{{ denuncia.username }}" class="col-form-label">Denunciante:</label>
                            <input type="text" class="form-control" id="denunciante-{{ denuncia.id }}" name="denunciante" value="{{ denuncia.username }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="asunto-{{ denuncia.id }}" class="col-form-label">Asunto:</label>
                            <textarea class="form-control" id="asunto-{{ denuncia.id }}" name="asunto" readonly>{{ denuncia.asunto }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="causa-{{ denuncia.id }}" class="col-form-label">Causa:</label>
                            <select id="causa-{{ denuncia.id }}" name="causa" class="form-select" disabled>
                                <option value="0" {% if denuncia.causa == 0 %}selected{% endif %}>Lugar de explotación</option>
                                <option value="1" {% if denuncia.causa == 1 %}selected{% endif %}>Uso y/o contaminación de recursos naturales</option>
                                <option value="2" {% if denuncia.causa == 2 %}selected{% endif %}>Residuos, emisiones e inmisiones</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="estado-{{ denuncia.id }}" class="col-form-label">Estado:</label>
                            <select id="estado-{{ denuncia.id }}" name="Select" class="form-select" disabled>
                                <option value="0" {% if denuncia.estado == 0 %}selected{% endif %}>En revisión</option>
                                <option value="1" {% if denuncia.estado == 1 %}selected{% endif %}>En procedimiento</option>
                                <option value="2" {% if denuncia.estado == 2 %}selected{% endif %}>Finalizada</option>
                                <option value="3" {% if denuncia.estado == 3 %}selected{% endif %}>Rechazada</option>
                                <option value="4" {% if denuncia.estado == 4 %}selected{% endif %}>Deshabilitada</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fecha_suceso-{{ denuncia.id }}" class="col-form-label">Fecha del suceso:</label>
                            <input type="date" class="form-control" id="fecha_suceso-{{ denuncia.id }}" name="fecha_suceso" value="{{ denuncia.fecha_suceso|date:'Y-m-d' }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="hora_suceso-{{ denuncia.id }}" class="col-form-label">Hora del suceso:</label>
                            <input type="time" class="form-control" id="hora_suceso-{{ denuncia.id }}" name="hora_suceso" value="{{ denuncia.hora_suceso|time:'H:i' }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="consentimiento-{{ denuncia.id }}" class="col-form-label">Consentimiento:</label>
                            <input type="checkbox" id="consentimiento-{{ denuncia.id }}" name="consentimiento" {% if denuncia.consentimiento %}checked{% endif %} disabled>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label"> Imagen de contexto: </label>
                            <br>
                            <img src="{{denuncia.imagen.url}}" alt="" style="max-width: 20%;">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>

      <!-- Modal Eliminar -->
      <div class="modal fade" id="modal-eliminar{{ denuncia.id }}" tabindex="-1" aria-labelledby="modalEliminarLabel{{ denuncia.id }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalEliminarLabel{{ denuncia.id }}">Confirmar Eliminación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Está seguro de que desea eliminar esta denuncia titulada "{{ denuncia.titulo }}"?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ denuncia.id }}">
                <button type="submit" class="btn btn-danger" name="eliminar"> Eliminar
                </button>
            </div>
          </div>
        </div>
      </div>
      
      {% endfor %}
    </tbody>
  </table>
    {% include "website/paginator.html" %}
  </div>
</div>
{% endblock %}
{% endif %}
