<!DOCTYPE html>
<html>
<head>
    <title>Mapa</title>
    <style>
        #map {
            margin-top:10px;
            height: 500px;
            width: 100%;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAePnBZc6RcvZGWf0a9twNHbWDxSmln3Gg&callback=initMap" async defer></script>
    <script>
        function initMap() {
            var mapOptions = {
                center: { lat: -35.405338287353516, lng: -71.6393814086914 },
                zoom: 14
            };
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var marker = new google.maps.Marker({
                position: { lat: -35.405338287353516, lng: -71.6393814086914 },
                map: map,
                title: 'denuncia'
            });
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}

</head>
<body>
    <style>
        a.text-white{
            border-radius: 8px;
            border-bottom: 6px solid #5ab228;
        }
        li{
            margin-left: 5px;
            margin-right: 5px;
        }
        
    </style>
    <nav class="py-2 bg-dark border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <a class="nav-link fw-bold" href="{% url 'mapa' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="green" class="bi bi-tree-fill" viewBox="0 0 16 16">
                        <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777z"/>
                    </svg>
    
                </a>
            </ul>
                {% if request.user.is_authenticated %}
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white">Hola, {{ user.first_name }} {{ user.last_name }}</a>
                    </li>
                    <li>
                        <a class="nav-link text-white fw-bold border" href="{% url 'registro_denuncia' %}" style="background-color: transparent;border-radius: 8px; color: #fff; padding: 10px 20px; text-decoration: none ;">Denunciar ahora</a>
                    </li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" id="cerrar" style="background-color: white; border-radius: 8px; color: #212529; padding: 10px 20px; cursor: pointer;font-weight: 1000; " >Cerrar sesión</button>                            
                        </form>
                    </li>
                    
                {% else %}
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url "login" %}" style="background-color: white; border-radius: 8px; color: #212529; padding: 10px 20px; cursor: pointer;font-weight: 1000; ">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold border" href="{% url "register" %}" style="background-color: transparent; border-radius: 8px; color: #fff; padding: 10px 20px; text-decoration: none ;">Crear usuario</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}

    <div class="container">
        <div id="map">

        </div>
    </div>

    {% endblock content %}


</body>
{% bootstrap_javascript %}
</html>
