<!DOCTYPE html>
<html>
<head>
    <title>Mapa</title>
    <style>
        #map {
            height: 500px;
        }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAePnBZc6RcvZGWf0a9twNHbWDxSmln3Gg&callback=initMap" async defer></script>

    <script>
        let map;
        let markers = [];
    
        function initMap(data) {
            var mapOptions = {
                center: { lat: -35.405338287353516, lng: -71.6393814086914 },
                zoom: 14
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
    
            // Add user geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        var userLocation = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        map.setCenter(userLocation);
    
                        var userMarker = new google.maps.Marker({
                            position: userLocation,
                            map: map,
                            title: "Tu ubicación",
                            icon: {
                                path: google.maps.SymbolPath.CIRCLE,
                                scale: 8,
                                fillColor: '#4285F4',
                                fillOpacity: 0.8,
                                strokeColor: '#4285F4',
                                strokeWeight: 2
                            }
                        });
                    },
                    function() {
                        handleLocationError(true, map.getCenter());
                    }
                );
            } else {
                handleLocationError(false, map.getCenter());
            }
    
            addMarkers(data);
        }
    
        function addMarkers(data) {
            clearMarkers();
    
            for (const denuncia of data) {
                let markerColor;
                switch (denuncia.causa) {
                    case 'Lugar de explotación':
                        markerColor = 'red';
                        break;
                    case 'Uso y/o contaminación de recursos naturales':
                        markerColor = 'green';
                        break;
                    case 'Residuos, emisiones e inmisiones':
                        markerColor = 'blue';
                        break;
                    default:
                        markerColor = 'blue';
                }
    
                let markerPath;
                switch (denuncia.estado) {
                    {% if request.user.is_staff %}
                    case 0:
                        markerPath = google.maps.SymbolPath.CIRCLE;
                        break;
                    {% else %}
                    case 0:
                        markerPath = google.maps.SymbolPath.CIRCLE;
                        break;
                    {% endif %}
                    case 1:
                    google.maps.SymbolPath.CIRCLE
                        markerPath = google.maps.SymbolPath.FORWARD_OPEN_ARROW;
                        break;
                    case 2:
                        markerPath = google.maps.SymbolPath.BACKWARD_CLOSED_ARROW;
                        break;
                    case 3:
                        markerPath = google.maps.SymbolPath.BACKWARD_CLOSED_ARROW;
                        break;
                    case 4:
                        markerPath = google.maps.SymbolPath.BACKWARD_CLOSED_ARROW;
                        break;

                }
                const marker = new google.maps.Marker({
                    position: { lat: denuncia.latitude, lng: denuncia.longitude },
                    map: map,
                    title: denuncia.asunto,
                    icon: {
                        path: markerPath,
                        fillColor: markerColor,
                        fillOpacity: 0.8,
                        strokeColor: 'black',
                        strokeWeight: 2,
                        scale: 5
                    }
                });
        
                marker.addListener('click', function() {
                    showMoreInfo(denuncia);
                });
        
                markers.push(marker);
            }
        }
        
    
        function clearMarkers() {
            for (let marker of markers) {
                marker.setMap(null);
            }
            markers = [];
        }
    
        function filterMapByCausa(causa) {
            fetch('/api/denuncias/')
                .then(response => response.json())
                .then(data => {
                    if (causa === 'all') {
                        addMarkers(data);
                    } else {
                        const filteredData = data.filter(denuncia => denuncia.causa === causa);
                        addMarkers(filteredData);
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    
        function filterMapByEstado(estado) {
            fetch('/api/denuncias/')
                .then(response => response.json())
                .then(data => {
                    const filteredData = data.filter(denuncia => denuncia.estado === estado);
                    addMarkers(filteredData);
                })
                .catch(error => console.error('Error:', error));
        }
    
        function handleLocationError(browserHasGeolocation, pos) {
            var infoWindow = new google.maps.InfoWindow({
                content: browserHasGeolocation
                    ? 'Error: El servicio de geolocalización falló.'
                    : 'Error: Tu navegador no soporta geolocalización.',
                position: pos
            });
            infoWindow.open(map);
        }
    
        function showMoreInfo(denuncia) {
            var modal = document.getElementById("denunciaModal");
            var titleElement = document.getElementById("denunciaTitle");
            titleElement.textContent = denuncia.titulo;
    
            var descriptionElement = document.getElementById("denunciaDescription");
            
            var imagenURL = denuncia.imagen;
            var descriptionImage = document.getElementById("denunciaImage");
            descriptionImage.innerHTML = `<img src="${imagenURL}" style="max-width: 64px; max-height:64px;">`;

            descriptionElement.textContent = "Causa: " + denuncia.causa + " | Asunto: " + denuncia.asunto;
    
            modal.style.display = "block";
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/api/denuncias/')
                .then(response => response.json())
                .then(data => {
                    initMap(data);
                })
                .catch(error => console.error('Error:', error));
    
            var closeButton = document.getElementsByClassName("close")[0];
            closeButton.addEventListener("click", function() {
                var modal = document.getElementById("denunciaModal");
                modal.style.display = "none";
            });
    
            window.addEventListener("click", function(event) {
                var modal = document.getElementById("denunciaModal");
                if (event.target == modal) {
                    modal.style.display = "none";
                }
                var closeBtn = document.querySelector("#botonCerrar");
                closeBtn.onclick = function() {
                    modal.style.display = "none";
                }
            });
        });
    </script>
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}

</head>
<body>
    <style>
        a.text-white{
            border-radius: 8px;
            border-bottom: 6px solid #5ab228;
        }
        li{
            margin-left: 5px;
            margin-right: 5px;
        }
    
    </style>
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'mapa' %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="green" class="bi bi-tree-fill" viewBox="0 0 16 16">
        <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777z"/>
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      {% if request.user.is_authenticated %}
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-light">Hola, {{ user.first_name }} {{ user.last_name }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light fw-bold btn btn-light" href="{% url 'registro_denuncia' %}" style="background-color: transparent; border-radius: 8px; text-decoration: none;">Denunciar ahora</a>
        </li>
        <li class="nav-item">
          <form method="post" action="{% url 'logout' %}" class="">
            {% csrf_token %}
            <button type="submit" class="btn btn-light " style="border-radius: 8px; color: #212529; font-weight: 1000;">Cerrar sesión</button>
          </form>
        </li>
      </ul>
          {% if request.user.is_staff %}
              <a class="nav-link text-light">Cuenta administrador</a>
              <a href="{% url 'panel_admin' %}" class="nav-link text-light btn-primary", style="background-color: green;"> Administración</a>
          {% endif %}
          
      {% else %}
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link fw-bold btn btn-light" href="{% url 'login' %}" style="border-radius: 8px; color: #212529; padding: 10px 20px; font-weight: 1000;">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold border btn text-light" href="{% url 'register' %}" style="border-radius: 8px; padding: 10px 20px;">Crear usuario</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>

    {% block content %}
    <div class="container-fluid">
        



        <div class="row">
                <div class="card col-md-1">
                    <!-- Botón para abrir el modal de la leyenda -->
                    <button type="button" class="btn text-light bg-dark" data-bs-toggle="modal" data-bs-target="#leyendaModal">
                        Ver Leyenda
                    </button>
                    
                    <!-- Botón para abrir el modal de los botones de filtro -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#filtroModal">
                        Ver Filtros
                    </button>
                </div>

            <div class="col-md-7">
                <div id="map" class="card"></div>
            </div>
            
            <div id="denunciaModal" class="modal" tabindex="-1" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 id="denunciaTitle"></h2>
                            <span class="close btn-close"></span>
                        </div>
                        <div class="modal-body">
                            <p id="denunciaDescription"></p>
                            <img id="denunciaImage" src="" alt="imagen:" style="max-width: 64px; max-height:64px;">

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="botonCerrar"> Close </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

<!-- Modal para Leyenda -->
<div class="modal fade" id="leyendaModal" tabindex="-1" aria-labelledby="leyendaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="leyendaModalLabel">Leyenda</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="leyenda">
            <div class="card">
                
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <img src="https://developers.google.com/static/maps/documentation/javascript/images/symbol_circle.png"> Estado: En revisión
                        </li>
                        <li class="list-group-item">
                            <img src="https://developers.google.com/static/maps/documentation/javascript/images/symbol_fore_open.png"> Estado: En procedimiento
                        </li>
                        <li class="list-group-item">
                            <img src="https://developers.google.com/static/maps/documentation/javascript/images/symbol_back_close.png"> Estado: Finalizada
                        </li>
                        <li class="list-group-item">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAADICAMAAAA9W+hXAAAAA1BMVEX6Ly+m5M7oAAAANElEQVR4nO3BMQEAAADCoPVP7WsIoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeAN1+AABVhDU2QAAAABJRU5ErkJggg==" style="width: 24px;height: 24px ; border-radius:9999px;">
                            Categoria: Lugar de explotación
                        </li>
                        <li class="list-group-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPKZ1yt_IyVF1G4sFaUN1qf2Mp_tR-TUpBaw&s" style="width: 24px;height: 24px ; border-radius:9999px;">
                            Categoria: Uso y/o contaminación de recursos naturales
                        </li>
                        <li class="list-group-item">
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAGFBMVEUpYv/a18308u3q7v8AVP/p5+H+//8ARP8TtSxnAAABH0lEQVR4nO3PCQ2EABAAMX78Oz4IORGzaR10Wadb1nOb7HyG27XPdW3vcL+Pqe79Gx7LVIdhnmGfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYd9/eB9T3d/w2ue63uG5TXY+w+l+h1EihcbqknUAAAAASUVORK5CYII=" style="width: 24px;height: 24px ; border-radius:9999px;">
                            Categoria: Residuos, emisiones e inmisiones
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Botones de Filtro -->
<div class="modal fade" id="filtroModal" tabindex="-1" aria-labelledby="filtroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filtroModalLabel">Filtros</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <button type="button" onclick="filterMapByCausa('all')"  class="btn btn-outline-info bg-dark">Mostrar Todos</button>
          <button type="button" onclick="filterMapByCausa('Lugar de explotación')" class="btn btn-outline-info bg-dark">Lugar de explotación</button>
          <button type="button" onclick="filterMapByCausa('Uso y/o contaminación de recursos naturales')" class="btn btn-outline-info bg-dark">Uso y/o contaminación de recursos naturales</button>
          <button type="button" onclick="filterMapByCausa('Residuos, emisiones e inmisiones')" class="btn btn-outline-info bg-dark">Residuos, emisiones e inmisiones</button>
          {% if request.user.is_staff %}
          <button type="button" onclick="filterMapByEstado(0)" class="btn btn-outline-info bg-dark">En revisión</button>
          <button type="button" onclick="filterMapByEstado(3)" class="btn btn-outline-info bg-dark">Rechazada</button>
          <button type="button" onclick="filterMapByEstado(4)" class="btn btn-outline-info bg-dark">Deshabilitada</button>
          {% endif %}
          <button type="button" onclick="filterMapByEstado(1)" class="btn btn-outline-info bg-dark">En procedimiento</button>
          <button type="button" onclick="filterMapByEstado(2)" class="btn btn-outline-info bg-dark">Finalizada</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>




    {% endblock content %}
</body>
{% bootstrap_javascript %}
</html>
