<html>

<head>
    <meta charset="UTF-8">
    <title>Mis Publicaciones</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>

<body>
    <div class="container">
        <div class="row">
            <h2>Mis Publicaciones</h2>
            <hr>
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form formulario %}
                    {% buttons %}
                        <button class="btn btn-primary" type="submit" name="guardar">Guardar</button>
                    {% endbuttons %}
                    <input type="hidden" name="editing" value="{{ editing }}">
                    <input type="hidden" name="id" value="{{ id }}">
                </form>
            </div>
            <div class="col">
                {% for publicacion in publicaciones %}
                <div class="card mb-3">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ publicacion.id }}">
                        <div class="card-header text-uppercase d-flex justify-content-between align-items-center">
                            <strong>{{ publicacion.titulo }}</strong>
                            <div class="btn-group" role="group">
                                <button class="btn btn-warning" type="submit" name="editar">Editar</button>
                                <button class="btn btn-danger" type="submit" name="eliminar">Eliminar</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>{{ publicacion.contenido }}</p>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% bootstrap_javascript %}
</body>

</html>