<head>
    <meta charset="UTF-8">
    <title>Términos y Condiciones</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>

{% block content %}
<h1>Términos y Condiciones</h1>
<p>Bienvenido a nuestro portal de denuncias medioambientales. Al utilizar este servicio, usted acepta cumplir con los siguientes términos y condiciones:</p>

<h2>1. Aceptación de los Términos</h2>
<p>Al acceder y utilizar nuestro sitio web para presentar una denuncia medioambiental, usted acepta estar sujeto a estos términos y condiciones. Si no está de acuerdo con alguna parte de estos términos, no utilice nuestro servicio.</p>

<h2>2. Uso del Servicio</h2>
<p>Este servicio está destinado únicamente a la presentación de denuncias relacionadas con infracciones medioambientales. No se permite el uso del servicio para ningún otro propósito. Al presentar una denuncia, usted garantiza que la información proporcionada es veraz y precisa.</p>

<h2>3. Confidencialidad y Protección de Datos</h2>
<p>Nos comprometemos a proteger su privacidad y la confidencialidad de su información personal. Los datos proporcionados serán utilizados únicamente para procesar su denuncia y tomar las acciones necesarias. No compartiremos su información con terceros sin su consentimiento, salvo cuando sea requerido por ley.</p>

<h2>4. Responsabilidad del Usuario</h2>
<p>El usuario es responsable de proporcionar información veraz y precisa en su denuncia. No nos hacemos responsables por cualquier información incorrecta o falsa proporcionada por el usuario. Nos reservamos el derecho de rechazar cualquier denuncia que contenga información engañosa o incorrecta.</p>

<h2>5. Propiedad Intelectual</h2>
<p>Todo el contenido de este sitio web, incluidos textos, gráficos, logotipos e imágenes, es propiedad de nuestro portal o de sus respectivos propietarios y está protegido por las leyes de propiedad intelectual.</p>

<h2>6. Modificaciones de los Términos</h2>
<p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones entrarán en vigor a partir del momento de su publicación en el sitio web. Es responsabilidad del usuario revisar regularmente estos términos y condiciones.</p>

{% endblock %}
