gmp-map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #btn{
      z-index: 9999999;
      position: absolute;
      bottom: 40px;
      margin: 10px;
      background-color: black;
      padding: 10px;
  }